/* Start Variables */
:root{
    --main-color: #B5CBB7;
    --secondary-color: #2c4755;
}
/* End Variables */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
}
.container{
    width: 80%;
    padding: 0 15px;
    margin:  0 auto;  
}

/* Small */
@media (min-width : 768px) {
    .container{
        width: 750px;
    }
}
/* Mideum */
@media (min-width : 992px) {
    .container{
        width: 970px;
    }
}
/*  Large  */
@media (min-width : 1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Components */
 .special-heading{
    color: gray;
    font-size: 100px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
 }
 .special-heading + p{
    margin: -10px 0 0 ;
    font-size: 18px;
    text-align: center;
    color: #797979;
 }
 @media (max-width : 767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
 }
/* End Components */
/* Start Header */
.header{
    padding: 20px;
    background-color: #1F1F1F;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 55px;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
    background-color: #CCCCCC;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: .3s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    position: absolute;
    right: 0;
    background-color: #eee;
    min-width: 200px;
    top: calc(100% + 15px);
    list-style: none;
    display: none;
    transition: .5s;
    z-index: 1;
}
.header .links:hover ul{
    display: block;
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}
.header .links ul li a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #333;
    transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 30px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Landing */
.landing{
    background-image: url("../Images/bgdes2.jpg");
    background-size: cover;
    height: calc(100vh - 95px);
    position: relative;
}
 .landing .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
 }
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-transform: capitalize;
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 44px;
    color: var(--main-color);
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
    color: #B0B0B0 ;
}
/* End Landing */
/* Start Features */
.features{
    padding: 40px 0 ;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: var(--main-color);
    font-size: 40px;
}
.features .feat h2{
    font-weight: 800;
    margin: 20px 0;
}
.features .feat p{
    font-size: 17px;
    line-height: 1.6;
    color: #777;
}
/* End Features */
/* Start Services */
.services{
    padding: 60px ; /* This make it like margin: auto*/
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax(300px , 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .serv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width : 767px) {
    .services .services-content .serv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .serv i{
    color: var(--main-color);
    flex-basis: 60px;
    font-size: 25px;
}
.services .services-content .serv h3{
    margin: 0 0 20px ;
}
.services .services-content .serv p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.col .col3-img {
    text-align: center;
    position: relative;
}
.col .col3-img::before {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 10%;
    z-index: -1;
}
@media (max-width : 1199px) {
    .col .col3-img{
        display: none;
    }
}
.col .col3-img img{
    width: 260px;
}
/* End Services */
/* Start Protofilo */
.protofilo{
    padding: 60px ;
    background-color: #eee;
}
.protofilo .protofilo-content{
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax(290px , 1fr));
    gap: 30px;
    margin-top: 100px;
}
.protofilo .protofilo-content .card{

    background-color: white;
    position: relative;
}
.protofilo .protofilo-content .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
} 
.protofilo .protofilo-content .card .card-img{
    max-height: 450px;
    overflow: hidden;
}
.protofilo .protofilo-content .card img{
    max-width: 100%;  
}
.protofilo .protofilo-content .card .card-info{
    padding: 20px;
}
.protofilo .protofilo-content .card .card-info h3{
    margin: 0;
}
.protofilo .protofilo-content .card .card-info p{
    margin-top: 10px;
    margin-bottom: 0;
    color: #797979;
    line-height: 1.6;
}
/* End Protofilo */
/* Start About */
.about{
    padding: 60px;
}
.about-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 919px) {
    .about-content{
        flex-direction: column;
        text-align: center;
    }
}
.about-content .about-img {
    position: relative;
    width: 194px;
    height: 260px;
    display: block;
}
@media (max-width: 919px){
    .about-content .about-img{
        margin: 0 auto 60px;
    }
}
.about-content .about-img{
    height: 300px;
    /* overflow: hidden; */
}
.about-content .about-img img{
    max-width: 100%;
}
.about-content .about-img::before {
    content: "";
    background-color: grey;
    width: 100px;
    height: calc(100% + 80px);
    position: absolute;
    top: -30px;
    left: -20px;
    z-index: -1;
}
.about-content .about-img::after {
    content: "";
    width: 120px;
    height: 200px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    position: absolute;
    top: -40px;
    right: -150px;
    z-index:-1;
}
@media (max-width: 919px) {
    .about-content .about-img::before,
    .about-content .about-img::after{
        display: none;
    }
}
.about-info{
    flex-basis: calc(100% - 450px); 
    /* flex: 1;                     //this anthor way to do this
    padding-left: 150px; */
}
.about-info p:first-of-type{
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 2;
}
.about-info hr{
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}
.about-info p:last-of-type{
    line-height: 2;
    color: #777;
}
/* End About */
/* Start Contact */
.contact{
    padding: 60px;
}
.contact .info{
    padding: 60px 0;
    text-align: center;
}
.contact .info .label{
    font-size: 30px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 24px;
}
.contact .info .social i{
    margin-left: 10px;
    color: var(--secondary-color);
    cursor: pointer;
    transition: .3s;
}
.contact .info .social i:hover{
    color: blue;
    transform: scale(1.1);
}
@media (max-width : 767px) {
    .contact .info .label,
    .contact .info .link{
        font-size: 25px;
    }
}
/* End Contact */
/* Start footer */
.footer{
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    font-size: 18px;
    text-align: center;
}
.footer span{
    color: var(--main-color);
    font-weight: bold;
}
/* End footer */